<div id="LogInWindow">

  <div class="lIn LogInField">

    <p>ЛОГІН</p>

    <div>

      <input type="text">
      <div class="errorLogIn"></div>

    </div>

  </div>

  <div class="lIn PasswordField">

    <p>ПАРОЛЬ</p>

    <div>

      <input type="password">
      <div class="errorLogIn"></div>

    </div>

  </div>

  <div class="JoinButton">

    <img [src]="path[0].path" alt="microsoft">
    <img [src]="path[1].path" alt="google">
    <button type="submit">ВХІД</button>

  </div>

  <div class="contLine">
    <div class="horLineLogIn"></div>
  </div>

  <div class="RegRestore">
    <a>РЕЄСТРАЦІЯ</a>
    <span style="margin-left: 5px; margin-right: 5px;"> | </span>
    <a>ДОПОМОГА</a>
  </div>

</div>
