<header>

  <div id="logo">
    <p>drop|trash</p>
  </div>

  <div id="header-right">

    <div>

      <div id="phoneNumber">
        <p>+380685342842</p>
        <p>+380932737541</p>
      </div>
      <div id="holiday">
        <p>Сервіс працює 24/7</p>
        <p>Вихідні по
          <span id="someHolidays">деяким святам</span>
        </p>
        <div class="blockWindow">

          test

        </div>
      </div>
      <div id="logIn">
        <img [src]="logInImagePath" alt="LogIn">
      </div>

    </div>

  </div>

</header>
