footer {

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 95px;
    box-shadow: 0 1px 12px 2px rgba(0, 0, 0, 0.55);
    background-color: #000000;
}

#footerMain {

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 98%;
}

#footerMain > div:nth-child(1) {


    width: 154px;
    height: 28px;
    font-family: Phosphate-Inline;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

#footerMain > div:nth-child(2) {

    width: 265px;
    height: 100%;
    font-family: LucidaGrande;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

    margin-left: 20px;
}

#footerMain > div:nth-child(2) > p:nth-child(2), #footerMain > div:nth-child(2) > p:nth-child(3) {

    font-family: Avenir;
    font-size: 20px;

}

#footerMain > div:nth-child(3) {

    display: flex;
    align-self: flex-end;

    width: 203px;
    height: 18px;
    font-family: LucidaGrande;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

    position: absolute;

    margin-left: calc((1680px - 202.97px)/2);
}

#footerMain > div:nth-child(4) {

    margin-left: auto;
}

#footerMain > div:nth-child(4) > img {

    width: 72px;
    height: 72px;
}