#scopeSlides {

    width: 100%;
    height: 830px;

    display: flex;
    justify-content: center;

    margin-top: 30px;
    margin-bottom: 45px;

    z-index: 0;
}

.OV {

    width: 11px;
    height: 88%;
    background-color: #4ba475;

    position: absolute;
}

.firstF {
    right: 0px;
}

.secondF {
    left: 0px;
}

.slides {

    width: 1658px;
    height: 830px;
    border-radius: 19px;
    background-color: #418e65;

    transition-duration: 2s;

    opacity: 0;
    display: flex;

}

.slides > div {

    width: 85%;
    height: 500px;
    margin-left: calc((1658px - 85%) / 2);
    margin-top: calc((830px - 500px) / 2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
}

.slides > p {

    width: auto;
    position: absolute;
    font-family: Times;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    margin-top: 18px;
    margin-left: 18px;
    margin-right: 30px;

    text-transform: uppercase;
}

.slides > div > img {

    width: 399px;
    height: 399px;

    -webkit-filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.6));
}

.slides > div > p {

    width: 928px;
    height: auto;
    font-family: Impact;
    font-size: 65px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    color: #000000;

}

.third > div > img {

    width: 510px;
    height: 510px;
}

.third > div > p {

    font-size: 55px;
    width: 850px;
}

.seventh >div > img {

    margin-left: 80px;
}

.prev, .next {

    position: absolute;
    cursor: pointer;
    transition: 50ms;
}

.prev:hover, .next:hover {

    opacity: 0.6;
}


.arrow {

    height: 120px;
    width: 120px;
}

.prev {

    left: 10px;
    top: 410px;
}

.next {

    right: 10px;
    top: 410px;
}

.dots {

    display: flex;
    flex-direction: row;

    position: absolute;

    top: 890px;
    left: 590px;

    width: 500px;
    justify-content: space-between;


}

.dot {

    width: 23px;
    height: 23px;

    border-radius: 100%;

    transition: 50ms;
    cursor: pointer;
    
    background-color: #ffffff;
}

.dot:nth-child(1) {


}

.dot:hover {

    background-color:  #000000;
}